.container {
  background-color: var(--light-grey);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &_title {
    height: 20%;
    display: flex;
    align-items: flex-end;

    &_text {
      font-size: 40px;
      font-weight: 600;
      color: var(--black);
    }
  }

  &_wrap {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &_btn {
      width: 50%;
      height: 25%;
    }

    &_btn:not(:last-child) {
      margin-bottom: 15%;
    }
  }
}
