<ion-content>
  <div class="container">
    <!-- TITLE -->
    <div class="container_title">
      <p class="container_title_text">Bar Obizzi</p>
    </div>

    <!-- BUTTONS -->
    <div class="container_wrap">
      <div class="container_wrap_btn">
        <app-button color="primary" routerLink="/operator">Operatore</app-button>
      </div>

      <div class="container_wrap_btn">
        <app-button color="tertiary" routerLink="/kitchen">Cassa</app-button>
      </div>
    </div>
  </div>
</ion-content>
