.container {
  background-color: var(--white-grey);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &_icon-close {
    width: 100%;
    text-align: right;
    padding-top: 2%;
    padding-right: 2%;

    ion-icon {
      color: var(--black);
      width: 40px;
      height: 40px;
    }
  }

  &_input {
    width: 80%;
  }

  &_text {
    width: 80%;
    height: 10em !important;
    padding: 0 23px 0 23px !important;
    color: var(--black);
    border-radius: 15px;
    background-color: var(--white);
    box-sizing: border-box;
  }

  &_btn {
    width: 60%;
    height: 25%;
  }
}
