.container {
  background-color: var(--white-grey);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;

  &_icon-close {
    width: 100%;
    text-align: right;
    padding-top: 2%;
    padding-right: 2%;
    // position: fixed;

    ion-icon {
      color: var(--black);
      width: 40px;
      height: 40px;
    }
  }

  &_text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &_message {
      width: 80%;
      color: var(--black);
      font-size: 30px;
      font-weight: 500;
    }
  }

  &_card {
    width: 80%;
    min-height: 35%;

    &_btn {
      min-width: 40%;
      height: 20%;
      float: right;
      margin-right: 2%;
      margin-top: 2%;
    }
  }

  &_card:not(:last-child) {
    margin-bottom: 5%;
  }
}
