<ion-header class="header ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="header_btn" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Cassa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <div class="container_list">
      <div class="container_list_type" *ngFor="let type of typeChoiceList" (click)="onTypeSelect(type.typeId)">
        <p>{{ type.name }}</p>
      </div>
    </div>

    <!-- ADD ICON -->
    <div class="container_add" (click)="addType()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </div>
  </div>
</ion-content>
